/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #d8d8dd;
    background-image: url(manhattan.jpeg);
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: brightness(0.8);
}
nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background: #333;
    height: 4em;
}
nav .icon{
  font-style: italic;
  font-weight: bold;
  font-family: serif;
}
nav .icon img {
    height: 2em;
}
nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
}
nav a {color: white;text-decoration: none;}

nav form {
    position: relative;
}
input#searchInput {
    color: teal;
    padding: 1em;
    padding-left: 2em;
    padding-right: 10em;
    border: none;
    border-radius: 2em;
    width: 19em;
    position: relative;
}
input#searchInput::placeholder { 
  color: rgb(154, 191, 191);
}
nav form img {
    position: absolute;
    top: .5em;
    right: 9.5em;
}
nav form button {
  background: teal;
  color: white;
  border: none;
  border-radius: 4px;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  top: .5em;
  cursor: pointer;
}
#btnClear{
  right: 1em;
}
#btnSearch{
  right: 6em;
}
div#social {
  position: fixed;
  width: 2em;
  left: .5em;
  height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
}
#social .line:before {
    content: '';
    background: white;
    width: 1px;
    height: calc((50vh - 4em) * .8);
    display: block;
    position: absolute;
    top: 10%;
    left: 1em;
}
#social .iconos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    height: calc((50vh - 4em) * .8);
}
section .textos{
  color: white;
}
section#home .textos {
    width: 50%;
}

section#home {
    width: calc(100vw - 12em);
    margin-left: 6em;
    display: flex;
    height: 80%;
    margin-top: 10%;
}

section .textos h1 {
    font-weight: 900;
    font-size: 5em;
    line-height: 1em;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
}

section .textos p {
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
}

button#btnBookNow {
    background: teal;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    padding: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 7px;
    cursor: pointer;
}
section#about_us {
  width: calc(100vw - 12em);
  margin-left: 6em;
  display: flex;
  height: 80%;
  margin-top: 10%;
}